@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&display=swap');
:root {
    --bg2-color: #680000;
    --bg1-color: #3d3d3d;
    --bg-contact: #dadada;
    --bg-home: #2b2b2b;
    --font1-color: rgb(235, 243, 242);
    --primary-shadow-color: rgba(0, 0, 0, 0.3);
    --circle-progress-font-color: rgb(0, 255, 221);
    --nav-height: 60px;
    --font-main: 'Poppins', sans-serif;
    --font-main-bold: 'Poppins', sans-serif;
    --font-code: 'Inconsolata', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

body {
    color: var(--font1-color);
    background: linear-gradient(to bottom right, var(--bg-home), var(--bg1-color));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container a {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgb(255, 254, 239);
    text-decoration: none;
    color: var(--bg-home);
    margin: 10px 0;
    border: solid 1px rgb(255, 254, 239);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.main-container a:hover {
    background: rgba(255, 230, 6, 0.1);
    color: rgb(255, 254, 239);
}

.main-container a:first-child:hover {
    background: rgba(255, 6, 6, 0.1);
    color: rgb(255, 254, 239);
}

.bg svg.nod {
    position: absolute;
    width: 70%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 100;
    color: rgb(255, 217, 0);
    font-size: 2rem;
}

.bg svg.nod path {
    stroke-dasharray: 395px;
    stroke-dashoffset: 395px;
    animation: nod-anim-stroke 1.5s forwards, nod-anim-fill 1.2s forwards 0.8s;
}

.social {
    margin-top: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

.social a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    padding: 7px;
    border-radius: 50%;
    border: solid 1px rgb(149, 255, 255);
    cursor: pointer;
    transition: all 0.3s;
}

.social a:hover {
    transform: rotate(360deg);
}

@keyframes nod-anim-stroke {
    0% {
        stroke-dashoffset: 395px;
    }
    50% {
        stroke-dashoffset: 230px;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes nod-anim-fill {
    0% {
        fill: transparent;
    }
    100% {
        fill: rgb(255, 217, 0);
    }
}